@page "/orderConfirmation/{OrderId:int}"
@using GymShopBlazor.ApiService
@using GymShopBlazor.Models
@inject NavigationManager Navigation
@inject OrderService OrderService

<head>
    <link href="css/cart.css" rel="stylesheet" />
</head>

<div class="order-confirmation">
    <h3>Orderbekräftelse</h3>
    
    @if (Order != null)
    {
        <div class="order-details">
            <div class="order-info">
                <div class="order-text">
                    <p><strong>Orderdatum:</strong> @Order.PurchaseDate.ToString("yyyy-MM-dd HH:mm")</p>
                    <p><strong>Ordernummer:</strong> @Order.Id</p>
                </div>

                <div class="logo-container">
                    <img src="logo.png" alt="GymShop Logo" class="logo" />
                </div>
            </div>

            <table class="order-table">
                <thead>
                <tr>
                    <th>Produkt-ID</th>
                    <th>Produktnamn</th>
                    <th>Antal</th>
                    <th>Pris</th>
                    <th>Totalt pris</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Order.OrderProducts)
                {
                    <tr>
                        <td>@item.ProductId</td>
                        <td>@item.ProductName</td>
                        <td>@item.Quantity</td>
                        <td>@item.CurrentPrice.ToString("0.00") SEK</td>
                        <td>@((item.CurrentPrice * item.Quantity).ToString("0.00")) SEK</td>
                    </tr>
                }
                </tbody>
            </table>

            <p class="total-price"><strong>Totalsumma:</strong> @Order.TotalPrice.ToString("0.00") SEK</p>
    </div>

    }
    else
    {
        <p>Laddar orderinformation...</p>
    }
</div>

@code {
    [Parameter] public int OrderId { get; set; }
    public OrderResponse? Order { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (OrderId != 0)
        {
            Order = await OrderService.GetById(OrderId);
        }
    }
}
